*        {
    margin:1px;
    padding:0px;
    box-sizing:border-box;
   }
html        {
    font-size:calc(1.5vw + 1.5vh);
    overflow-wrap:break-word;
   }
body        {
position:relative;
    width:100%;
    min-height:100vh;
    background-color:lightgray;
   }
main        {
    width:100%;
 }
article    {
    margin:3%;
    padding-bottom:9%;
    margin-top:7%
}
main header         {
    width:100%;
    height:auto;
    padding:5% 1% 0% 1%;
    position:relative;
    background-color:cornflowerblue;

}
.crumbs        {
    color:midnightblue;
    position:absolute;
    top:0;
    left:5%;
}
.phone        {
    color:lightgray;
    position:absolute;
    top:0;
    z-index: 1;
    right:5%
}
header .logo    {
    font-size:calc(3vw + 3vh);
    color:midnightblue;
    display:inline;
    float:left;
    width:100%;
}
header small        {
    font-size:calc(.7vw + .7vh);
   margin-top:auto;
    float:right;
}
header span        {
    color:aliceblue;
}
nav        {
    display:inline-flex;
    margin-bottom:0;
    margin-top:1%;
    margin-bottom:1%;
    width:100%;
    flex-wrap:wrap;
    justify-content:space-around;
}
button       a {
    color:#fff;
}
button       {
    background-color:#555;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:x-large;
    padding:0 2% 0 2%;
  }
button:hover        {
    background-color:#777;
  }
.prro    {
  background-color: black;
color:white;
display:inline;
margin-right:10%;

  }
summary{
    display: inline;
    float:right;
}

.hiddendiv {
    display: none;
}
.testA:focus ~ #testA {
    display: block;
    position: fixed;
    z-index:1;
}
.testB:focus ~ #testB {
    display: block;
    position:fixed;
    z-index:1;
}
.img        {
    background-color:beige;
    width:80vw;
    height:50vh;
    border:solid black;
    color:red;
}
a    {
    text-decoration:none;
}
#footer{
    position:absolute;
    bottom:0;
    width:100%;
    background-color :darkcyan;
    text-align:center;
}

@keyframes changePosition {
    0% {
        position: absolute;
    }
    100% {
        position: fixed;
    }
}