/*
* Made by Erik Terwan
* 24th of November 2015
* MIT License
*
*
* If you are thinking of using this in
* production code, beware of the browser
* prefixes.
*/

#menuToggle
{
 display: inline-block;
 position:absolute;
 z-index: 1;
 -webkit-user-select: none;
 user-select: none;
 background-color: black;
 color:white;

}

#menuToggle a
{
 text-decoration: none;
 color: #232323;
 transition: color .5s ease;
}

#menuToggle a:hover
{
 color: tomato;
}

#menuToggle input
{
 display: block;
 width: 40px;
 height: 32px;
 position: absolute;
 top: -7px;
 left: -5px;
 cursor: pointer;
 opacity: 0; /* hide this */
 z-index: 2; /* and place it over the hamburger */
 -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span
{
 display: block;
 width: 33px;
 height: 4px;
 margin-bottom: 5px;
 position: relative;
 background: #cdcdcd;
 border-radius: 3px;
 z-index: 1;
 transform-origin: 4px 0px;
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease;
}

#menuToggle span:first-child
{
 transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
 transform-origin: 0% 100%;
}

/*
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span
{
 opacity: 1;
 transform: rotate(45deg) translate(-2px, -1px);
 background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
 opacity: 0;
 transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
 transform: rotate(-45deg) translate(0, -1px);
}
/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu {
    position: absolute;
    left: -200%; /* Initial position */
    width: 95vw;
    height: auto;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    /* Entry transition */
}

#menuToggle input:not(:checked) ~ #menu {
position: fixed;
left: -200%; /* Initial position */
width: 95vw;
height: auto;
margin: -100px 0 0 0;
padding: 50px;
padding-top: 125px;
background: #ededed;
list-style-type: none;
-webkit-font-smoothing: antialiased;
transform-origin: 0% 0%;
transform: translate(-100%, 0);
transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1.0);
animation: changePosition 1.9s forwards;
/* Entry transition */

}
/*The menu does not push the page
down while inactive.*/

/* Define entry transition inside media query */
@media (min-aspect-ratio: 1/1) {
    #menu {
        position: absolute;
        display: inline;
        padding: 5vh;
        padding-top: 12vh;
        width: 65vw;
        height: auto;
        margin: -45px 0 0 calc(-7vh + 7vw);
        border: 1px solid red;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menuToggle input:not(:checked) ~ #menu {
        position: fixed;
        display: inline;
        padding: 5vh;
        padding-top: 12vh;
        width: 65vw;
        height: auto;
        margin: -45px 0 0 calc(-7vh + 7vw);
        border: 1px solid red;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0%);
        transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        animation: changePosition 1.9s forwards;
    }        
}
/* These aspect ratios will have to make the site work, on most standard aspect ratios.
@media (min-aspect-ratio: 8/5) { 
    div {
        /* background: #9af;
         blue
    }
}

/* Maximum aspect ratio
@media (max-aspect-ratio: 3/2) {
    div {
        /* background: #9ff;
         cyan
    }
}
*/
#menu li
{
 padding: 10px 0;
}
.titleli {
    display:inline-block;
    text-align:center;
    width:100%;
    color:goldenrod
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul
{
 transform: none;
}


