*        {
  margin:1px;
  padding:0px;
  box-sizing: border-box;
 }
html        {
  font-size: calc(1.5vw + 1.5vh);
 }
body        {
  width: 100%;
  min-height: 100vh;   
  border: 2px dashed green;
  background-color:lightgray;
 }
main        {
  border: dashed blue;
  width: 100%;   
     }
main header         {
  width: 100%;
  height: auto;
  border :2px dashed rgb(205, 7, 7);
  padding: 5% 1% 0% 1%;
  position: relative;
  background-color:cornflowerblue;
                  
    }
.crumbs        {
  color: midnightblue;
  position: absolute;
  top: 0;
  left: 5%;        
    }
.phone        {
  color: lightgray;
  position: absolute;
  top: 0;
  right: 10%
    }
header .logo    {
  border: 1px dashed beige;
  font-size: calc(3vw + 3vh);
  color: midnightblue;
  display:inline;
  float:left;
  width: 100%;
    }
header small        {
  font-size:small;
  //position:absolute;
 margin-top: auto;
  border: 1px solid yellow;
  display:inline-block;
  float:right;
  //transform: translate(0% -10px);
    }
header span        {
  color: aliceblue;
    }
nav        {
  border: solid red;
  display: inline-flex;
  flex-wrap:wrap
  margin-bottom:0;
  margin-top: 1%;
  margin-bottom: 0px;
  width: 100%; 
    }  
    
    .prro a: active {
  visibility: hidden;
    }  

button {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  calc(3vw + 3vh);
}

     button:hover {
  background-color: #777;
}